
    <section id="page-header" class="about-header">
        <h2>#KnowUs</h2>
        <p>Lorem ipsum dolor sit amet consectetur</p>
    </section>

    <section id="about-head" class="section-p1">
        <img src="../../assets/images/about/a6.jpg" alt="">
        <div>
            <h2>
                Who We Are
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Illo at laborum et quasi sequi maxime.
                Sapiente at fugit eum mollitia ad molestias maxime dolores assumenda,
                voluptas id asperiores a fuga?Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quidem delectus adipisci, soluta unde quo veritatis ab voluptatum saepe, impedit veniam voluptas
                deserunt,
                quibusdam dolor minus reiciendis modi rerum tempore necessitatibus?
            </p>
            <abbr title="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore , 
                recusandae ad deserunt animi amet. Officia aut, veritatis a harum sint dolorem?</abbr>
       <br><br>
       <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Lorem ipsum dolor sit amet, consectetur adipisicing elit.  soluta fugit alias ipsam eaque, quidem dolorem deserunt
         tempora cum assumenda delectus molestiae, laudantium ullam praesentium!</marquee>
            </div>
    </section>

    <section id="about-app" class="section-p1">
       <h1>Download Our <a href="#">App</a></h1> 
       <div class="video">
        <video autoplay muted loop src="../../assets/images/about/1.mp4"></video>
       </div>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="../../assets/images/features/f1.png" alt="">
            <h6>Free Shipping</h6>
        </div>

        <div class="fe-box">
            <img src="../../assets/images/features/f2.png" alt="">
            <h6>Online Order</h6>
        </div>

        <div class="fe-box">
            <img src="../../assets/images/features/f3.png" alt="">
            <h6>Save Money</h6>
        </div>

        <div class="fe-box">
            <img src="../../assets/images/features/f4.png" alt="">
            <h6>Promotions</h6>
        </div>

        <div class="fe-box">
            <img src="../../assets/images/features/f5.png" alt="">
            <h6>Happy Sell</h6>
        </div>

        <div class="fe-box">
            <img src="../../assets/images/features/f6.png" alt="">
            <h6>F24/7 Support</h6>
        </div>
    </section>

    <app-newsletter></app-newsletter>


