
   <section>
    <app-hero></app-hero>
   </section>

    <section>
        <app-feature></app-feature>
    </section>

    <section>
        <app-product1></app-product1>
    </section>

   <section>
    <app-banner></app-banner>
   </section>

   <section>
    <app-newarrivals></app-newarrivals>
   </section>

   <section>
    <app-sm-banner></app-sm-banner>
   </section>
    
   <section>
    <app-banner3></app-banner3>
   </section>
    
    <section>
        <app-newsletter></app-newsletter>
    </section>

   

    

   
